

<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card bg-dark text-light">
      <div class="card-header">
        Editar Nota
      </div>
      <div class="card-body">
        <form class="" action="/notes/edit/{{note._id}}?_method=put" method="post">
          <input type="hidden" name="_method"value="put">
          <div class="form-group">
            <label for="">Titulo</label>
            <input class="form-control bg-dark text-light" type="text" name="titulo" value="{{note.titulo}}">
          </div>
          <div class="form-group">
            <label for="">Descripción</label>
            <textarea class="form-control bg-dark text-light" name="descripcion" rows="4" cols="80">{{note.descripcion}}</textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-info btn-block">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
